@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
} */
:root {
    --toastBackground: theme('colors.orange.50');
	--toastColor: theme('colors.neutral.600');
	--toastBorderRadius: 0 0 1.2rem 1.2rem;
	--toastBarBackground: theme('colors.orange.500');
	--toastWidth: 100vw;
	--toastPadding: .5rem;
	--toastContainerRight: 0;
	--toastContainerTop: 0;
}

@media (min-width: 1024px) {
	:root {
		--toastWidth: 20rem;
		--toastContainerRight: 2rem;
		--toastContainerTop: 1.5rem;
	}

}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; 
		scrollbar-width: none; 
  	}
	.left-mask {
		mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
	}
	.right-mask {
		mask-image: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
	}
	.both-mask {
		mask-image: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
	}
	.top-mask {
		mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
	}
	.bottom-mask {
		mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
	}
	.both-v-mask {
		mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
		opacity: .7;
	}
	60% {
		transform: translateY(-10px);
	}
}

.animate-b0 {
	animation: bounce 1.5s infinite ease-in-out;
}
.animate-b1 {
	animation: bounce 1.5s infinite ease-in-out;
	animation-delay: 0.2s;
}
.animate-b2 {
	animation: bounce 1.5s infinite ease-in-out;
	animation-delay: 0.3s;
}

@keyframes bounce-s {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-8px);
		opacity: .7;
	}
	60% {
		transform: translateY(-4px);
	}
}

.animate-bs0 {
	animation: bounce-s 1.5s infinite ease-in-out;
}
.animate-bs1 {
	animation: bounce-s 1.5s infinite ease-in-out;
	animation-delay: 0.2s;
}
.animate-bs2 {
	animation: bounce-s 1.5s infinite ease-in-out;
	animation-delay: 0.3s;
}


.calendars-container {
	top: 0 !important;
	--datepicker-container-position: relative;
	--datepicker-calendar-position: relative;
	--datepicker-container-box-shadow: none;
	--datepicker-container-border: none;
	--datepicker-container-background: theme('colors.orange.50');
	--datepicker-state-active: theme('colors.orange.500');
	--datepicker-calendar-range-selected-background: theme('colors.orange.500');
}

body {
	touch-action: manipulation;
	overscroll-behavior-y: none;
}

html {
	overscroll-behavior-y: none;
}